<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<style type="text/css">
		*{ padding: 0; margin: 0; }
		div{ padding: 4px 48px;}
		body{font-size:24px; background: #fff; font-family: "微软雅黑"; color: #333;}
		h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; }
		p{ font-size: 36px; line-height: 1.8em;}
	</style>
</head>

<body>
	<div style="padding: 24px 48px;">
		<h1>:)</h1>
		<p>欢迎使用 <b>TP-CMS</b>！</p>
		<br/>
		[ 您现在访问的是网站首页！]
	</div>
</body>
</html>